<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Student Form</title></head>
<body>
<h2 th:text="${student.id == null} ? 'Add Student' : 'Edit Student'"></h2>
<form method="post" th:action="@{/save}" th:object="${student}">
    <input th:field="*{id}" type="hidden"/>
    Name: <input th:field="*{name}" type="text"/><br/>
    Email: <input th:field="*{email}" type="email"/><br/>
    Percentage: <input th:field="*{percentage}" type="text"/><br/>
    <button type="submit">Save</button>
</form>
<a href="/">Back</a>
</body>
</html>
