<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Student Form</title></head>
<body>
<h2 th:text="${student.id == null} ? 'Add Student' : 'Edit Student'"></h2>
<form th:action="@{/save}" th:object="${student}" method="post">
    <input type="hidden" th:field="*{id}" />
    Name: <input type="text" th:field="*{name}" /><br/>
    Email: <input type="email" th:field="*{email}" /><br/>
    Percentage: <input type="text" th:field="*{percentage}" /><br/>
    <button type="submit">Save</button>
</form>
<a href="/">Back</a>
</body>
</html>
